* {
    font-family: sans-serif;
}

html {
    background-color: silver;
    text-align: center;
}

body {
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
    font-size: 11px;
}

div {
    align-self: center;
    align-content: center;
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}

button {
    font-size: 10px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 12px solid;
}