body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border-radius: 5px;
}