html {
    font-size: 16px;    
}

body {
    font-family: sans-serif;
    display: flex;  
    flex-direction: column; /*en columna para modo horizontal o row */
    height: 100vh; /* porcentaje de visual horizontal */
    align-items: center; /* alinea los items al centro */
    justify-content: center; /* "", flex-start, flex-end,space-between  */
    /* http://flexboxfroggy.com/#es */
}

p {
    font-size: 3rem;  /* root e m */
}

.app-container {
    font-size: 12px;
}