body {
display: flex;
background-image: url("https://media.architecturaldigest.com/photos/5cbf3749f6ece733830fd599/master/w_1600%2Cc_limit/Mossi_Final%252520HR%252520(1).jpg");
align-items: center;
justify-content: center;
vertical-align: center;
}
.formulario {
display: block;
background-color: white;
border: 1px solid black;
margin-top: 2em;
padding: 1em;
width: 70vh;
}

.imagen {

}