body {
    height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

.caja {
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

#boton {
    border-radius: 5px;
    display: flex;
    text-align: center;
}